@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
  }

  body {
    @apply font-Pretendard bg-dark-100 text-white;
    letter-spacing: -0.02em;
  }

  /* 스크롤바 스타일링 */
  ::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
  }

  ::-webkit-scrollbar-track {
    background: #3e3e40; /* 스크롤바 트랙 배경색 */
    border-radius: 50px; /* 트랙의 둥근 모서리 */
  }

  ::-webkit-scrollbar-thumb {
    background: #ff2140; /* 스크롤바 핸들 색상 */
    border-radius: 50px; /* 핸들의 둥근 모서리 */
  }
}
