@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    overflow-y: scroll;
  }

  body {
    @apply font-Pretendard bg-dark-100 text-white;
    letter-spacing: -0.02em;

    .datepicker {
      position: relative;
      top: 100%;
      align-items: center;
      background: none;
      padding: 20px;
      width: 100%;
      height: 100%;
      outline: none;
    }

    .react-datepicker-popper {
      display: flex;
      width: 298px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6.5px 0;
      border-radius: 12px;
      border: 1px solid var(--dark_600, #6b6e73);
      background: var(--dark_500, #4d5156);
      box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
      z-index: 100;
      transform: 0;
    }

    .react-datepicker__triangle {
      display: none;
    }

    .react-datepicker__aria-live {
      display: none;
    }

    .datepicker__header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      top: 0;
    }

    .react-datepicker__week {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
    }

    .react-datepicker__day-names {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      /* margin-top: 13px; */
      > * {
        width: 35px;
        height: 32px;
      }
    }

    .react-datepicker__day {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      width: 35px;
      height: 32px;
    }

    .react-datepicker__day--selected {
      background-color: #ff2140;
    }

    .react-datepicker__day--disabled {
      background-color: #2d2d2f;
      color: gray;
    }
  }

  /* 스크롤바 스타일링 */
  ::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
  }

  ::-webkit-scrollbar-track {
    background: #3e3e40; /* 스크롤바 트랙 배경색 */
    border-radius: 50px; /* 트랙의 둥근 모서리 */
  }

  ::-webkit-scrollbar-thumb {
    background: #ff2140; /* 스크롤바 핸들 색상 */
    border-radius: 50px; /* 핸들의 둥근 모서리 */
  }
}
